body {
    background: rgb(31, 30, 30);
}

h1{
    text-align: center;
}

fieldset {
    background: white;
    border: 5px rgb(025, 255, 025);
    box-shadow: 0 0 15px goldenrod;
    max-width: 25%;
    margin: auto;
}



#welcome{
  color: blueviolet;
  justify-content: center;
  text-align: center;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*BOTONES*/

input[id=reg],
input[id=log] {
    width: 8%;
    background-color: rgb(226, 250, 87);
    font-weight: bold;
    margin: 8px 0;
    border-radius: 4px;
}

input[id=reg]:hover,
input[id=log]:hover {
    background-color: #9ba53d;
}

button[id=enviarLog],
button[id=enviarReg] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
}

button[id=enviarLog],
button[id=enviarReg]:hover {
    background-color: #45a049;
  }

  button[id=logOut-button]{
    background-color: #f15959;
    font-weight: bold;
    width: 8%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
